@{
    ViewData["Title"] = "Home Page";
}
@if (TempData["Error"]!=null)
{
    <p class="text-danger">@TempData["Error"]</p>

}

@model BlogManagementSystem.ViewModels.HomeVM
<h2>Posts</h2>
@foreach(var post in Model.posts)
{
    <div>
        <h3>@post.Title</h3>
        <p>@post.postContent</p>
        <small>@post.createAt</small>
        <hr />
    </div>
    @if (post.comments != null)
    {
        @foreach(var comment in post.comments)
        {
            <p>@comment.commentContent</p>
            <a asp-controller="Comments" asp-action="EditComment"  asp-route-commentId="@comment.commentId">Edit Comment</a>
        }
    }
    <form method="post" asp-controller="Comments" asp-action="Index">
        <input type="hidden" name="postsId" value="@post.postsId" />
        <input type="text" name="commentContent" placeholder="write a comment" />
        @if (TempData["Error"] != null)
            {
                <p class="text-danger">@TempData["Error"]</p>
            }
            <button type="submit">Add Comment</button>
    </form>
    <a asp-controller="Posts" asp-action="Edit" asp-route-postsId="@post.postsId">Edit Post</a>

}

